langchain
langchain-community
langchain-openai
faiss-cpu
pypdf
openai
python-dotenv
streamlit
fastapi
uvicorn
pydantic
=======
langchain
langchain-community
langchain-openai
faiss-cpu
pypdf
openai
python-dotenv
streamlit
fastapi
uvicorn


sentence-transformers
transformers
torch


